@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

:root{
    --bg-color:  rgb(41, 41, 41);
    --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
    background-color:var(--bg-color)
}